@import "../../Sass/colors";
@import "../../Sass/mixins";
@import "../../Sass/_animations";

.Head {
  > p {
    margin-left: 5%;
    color: white;
  }
  > img {
    padding-left: 20px;
    padding-bottom: 20px;
    width: 15%;
  }
  > img.loginAvatar {
    @include slide-right();
  }
  > p {
    @include slide-right();
  }
  @include flex-row();
  > button {
    @include slide-right();
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
    background-color: red;
  }

  margin-top: 0;
  background-color: $color-header;

  @keyframes slide-right {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(0px);
    }
  }

 
}
