 
@import "../../Sass/mixins";
@import "../../Sass/_animations";
 
.Home {
  @include slide-down();
  width: 100%;
  margin: 0px;
  @include flex-column-center();
    padding-top: 20%;
 /*    padding: 20px; */
    padding-bottom: 40%;
    /* propertys here */
   
   
  > button{
    @include flex-column-center();
 
  }
 



     @keyframes slide-bottom{0%{transform:translateY(-100px)}100%{transform:translateY(0px)}}
     
    /* propertys here */
}